{% extends "layout.html" %}

{% set active_page = "about" %}

{% block title %}about{% endblock %}

{% block content %}
    <h1>About the Skyscraper Data</h1>

<p>The data used in this web app is from CORGIS Dataset Project and can be found <a href="https://think.cs.vt.edu/corgis/json/skyscrapers/">here</a>.
    The data contains statistics about tall buildings in the United States that were constructed from 1850 to 2020, with some years missing.
    The heights of all the buildings in this data set are in meters. The information used in this web app are material, year completed, height,
    and name.
    
</p>
    
<p>One of the statistics reported is the tallest building constructed each year.
         
    Not all of the buildings are "skyscrapers", but they are all tall buildings. 
    This data set contains data about buildings with heights ranging from 35m to 1600m.
    Since not every year from 1895 to 2020 had a building completed, some years are not available to select. Some buildings in this data 
    set were given a height of 0 becuase the site the data is from (<a href="http://www.skyscrapercenter.com/">http://www.skyscrapercenter.com/</a> 
    did not have an official height for a building. This also disqualified a few years and buildings from being represented in this form.
    When you select a year, all of the buildings that were completed that year are compared in height, and then the tallest is returned.
    
</p>
<p></p>

<p>There are three more statistics shown with graphs.
    Two of these graphs do not work as of now. The histogram, aka "Total Height Built per Year" does not work for some reason, but it
    shows the data at the top of the page. The line graph for "Number of Tall Buildings Completed Each Year" worked for a while, before
    being overloaded with information and only showing data up until 1927. The graph that does work is the pie chart, which shows the
    percentages of buildings made with a specific material.
</p>
<p>
    Becuase many buildings do not have a year of completion, the data in the graphs that show progression over time
    are a little inaccurate (or would be, if it worked properly). </p>

{% endblock %}
