<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="indexStyle.css">
    <script src="myscript.js"></script>
    <title>Home - Adelyn</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href=".">Games</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item, active">
            <a class="nav-link" href=".">About the Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tallestBuilt.html"> Tallest Built Each Year </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=".html"> idk </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=".html"> irdk </a>
          </li>    
        </ul>
      </div>  
    </nav>
<p>The data used in this web app is from CORGIS Dataset Collection. </p>

<p>One of the statistics reported is the tallest building constructed each year. This is reported by finding which years this set contains data from and then
  finding the buildings whose contruction was completed that year. Then, the building with the . These were all done with individual methods. 

</p>
