<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <title>Home - Adelyn</title>
  </head>
  <body>
    
    {{nav}}
    
    <p>The data used in this web app is from CORGIS Dataset Collection. </p>
    
    <p>One of the statistics reported is the tallest building constructed each year. This is reported by finding which years this set contains data from and then
  finding the buildings whose contruction was completed that year. Then, the building with the . These were all done with individual methods. 
    
    </p>
