{% extends "layout.html" %}

{% set active_page = "graphs" %}

{% block title %}heightsPerYear{% endblock %}

{% block head %}
window.onload = function() {
var dataPoints = [];
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2",
	title: {
		text: "Daily Sales Data"
	},
	axisY: {
		title: "Units",
		titleFontSize: 24,
		includeZero: true
	},
	data: [{
		type: "column",
		yValueFormatString: "#,### Units",
		dataPoints: dataPoints
	}]
});

function addData(data) {
	for (var i = 0; i < data.length; i++) {
		dataPoints.push({
			x: new Date(data[i].date),
			y: data[i].units
		});
	}
	chart.render();

}

$.getJSON("skyscrapers.json", addData);

}
</script>
{% endblock %}


{% block content %}
<br>
<h1>Graphs</h1>
<br>
<form action="/getGraph">
  <label for="graph">Choose a graph:</label>
  <select name="graph" id="graph">
    <option value="histogram">Total Height Built per Year</option>
    <option value="lineGraph">Number of Tall Buildings Completed Each Year</option>
    <option value="pieChart">Materials Used to Construct Tall Buildings</option>
  </select>
  <br><br>
  <input type = "submit" value = "submit" onchange="this.form.submit();">
</form>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

{% endblock %}
