{% extends "layout.html" %}

{% set active_page = "graphs" %}

{% block title %}tallestBuilt{% endblock %}

{% block head %}
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,  
	title:{
		text: "# Buildings Completed Each Year"
	},
	axisY: {
		title: "Construction Completed",
		valueFormatString: "#0,,.",
		suffix: "mn",
		stripLines: [{
			value: 3366500,
			label: "Average"
		}]
	},
	data: [{
		yValueFormatString: "#,### Units",
		xValueFormatString: "YYYY",
		type: "spline",
		dataPoints: [
			{{points}}
			{x: new Date(2002, 0), y: 2506000},
			{x: new Date(2003, 0), y: 2798000},
			{x: new Date(2004, 0), y: 3386000},
			{x: new Date(2005, 0), y: 6944000},
			{x: new Date(2006, 0), y: 6026000},
			{x: new Date(2007, 0), y: 2394000},
			{x: new Date(2008, 0), y: 1872000},
			{x: new Date(2009, 0), y: 2140000},
			{x: new Date(2010, 0), y: 7289000},
			{x: new Date(2011, 0), y: 4830000},
			{x: new Date(2012, 0), y: 2009000},
			{x: new Date(2013, 0), y: 2840000},
			{x: new Date(2014, 0), y: 2396000},
			{x: new Date(2015, 0), y: 1613000},
			{x: new Date(2016, 0), y: 2821000},
			{x: new Date(2017, 0), y: 2000000}
		]
	}]
});
chart.render();

}
</script>
{% endblock %}


{% block content %}
<br>
<h1>Graphs</h1>
<br>
<form action="/getGraph">
  <label for="graph">Choose a graph:</label>
  <select name="graph" id="graph">
    <option value="histogram">Total Height Built per Year</option>
    <option value="lineGraph">Number of Tall Buildings Completed Each Year</option>
    <option value="pieChart">Materials Used to Construct Tall Buildings</option>
  </select>
  <br><br>
  <input type = "submit" value = "submit" onchange="this.form.submit();">
</form>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

{% endblock %}
