{% extends "layout.html" %}

{% set active_page = "graphs" %}

{% block title %}Pie Chart{% endblock %}

{% block head %}
<script>
window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "Building Material Used for Tall Buildings"
	},
	data: [{
		type: "pie",
		startAngle: 0,
		toolTipContent: "<b>{label}</b>: {y}%",
		showInLegend: "true",
		legendText: "{label}",
		indexLabelFontSize: 16,
		indexLabel: "{label} - {y}%",
		dataPoints: [
			{ y: {{concrete}}, label: "Concrete" },
			{ y: {{steel}}, label: "Steel" },
			{ y: {{composite}}, label: "Composite" },
			{ y: {{steelConcrete}}, label: "Steel/Concrete" },
			{ y: {{masonry}}, label: "Masonry" },
		]
	}]
});
chart.render();

}
</script>
{% endblock %}

{% block content %}
<br>
<h1>Graphs</h1>
<br>
<form action="/getGraph">
  <label for="graph">Choose a graph:</label>
  <select name="graph" id="graph">
    <option value="histogram">Total Height Built per Year</option>
    <option value="lineGraph">Number of Tall Buildings Completed Each Year</option>
    <option value="pieChart">Materials Used to Construct Tall Buildings</option>
  </select>
  <br><br>
  <input type = "submit" value = "submit" onchange="this.form.submit();">
</form>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

{% endblock %}
